{!! define "pc/index.tmpl" !!}
<!doctype html>
<html amp lang="en">
<!-- Mirrored from www.stunring.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 May 2023 14:00:21 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <script>
        var BASE_URL = 'index.html';
        var require = {
            "baseUrl": "./static/version1681280332/frontend/Swetelove/desktop/en_US"
        };
    </script>
    <meta charset="utf-8" />
    <meta name="title" content="STUNRING JEWELRY" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <title>STUNRING JEWELRY</title>
    <link rel="stylesheet" type="text/css" rel="stylesheet" type="text/css" href="./static/version1681280332/frontend/Swetelove/desktop/en_US/css/styles-l.css" />
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/requirejs/require.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/requirejs-min-resolver.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/js/bundle/bundle0.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/js/bundle/bundle1.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/js/bundle/bundle2.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/js/bundle/bundle3.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/js/bundle/bundle4.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/mage/requirejs/static.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/mage/requirejs/mixins.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/requirejs-config.min.js"></script>
    <script type="text/javascript" src="./static/version1681280332/frontend/Swetelove/desktop/en_US/mage/polyfill.min.js"></script>
    <script type="text/javascript" async="" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0.js"></script>
    <script type="text/javascript" async="" custom-element="amp-position-observer" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-animation" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-sidebar" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-carousel" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-youtube" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-list" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script type="text/javascript" async="" custom-template="amp-mustache" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
    <script type="text/javascript" async="" custom-element="amp-form" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-bind" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-lightbox" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script type="text/javascript" async="" custom-element="amp-accordion" src="./static/version1681280332/frontend/Swetelove/desktop/cdn.ampproject.org/v0/amp-accordion-0.1.js"></script>
    <link rel="icon" type="image/x-icon" href="https://cdn.stunring.com/media/favicon/stores/1/stunring_icon.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn.stunring.com/media/favicon/stores/1/stunring_icon.png" />
    <meta name="p:domain_verify" content="6174a6a83adacc6ef210a21580418072" />
    <!-- Hotjar Tracking Code for https://www.stunring.com/ -->
    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 3074370, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <style>
        .navigation li.level0.nav-11 a.level-top {
            color: red;
        }
    </style>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W9KLL33');</script>
    <!-- End Google Tag Manager -->
    <img src="./static/version1681280332/frontend/Swetelove/desktop/en_US/images/loader-2.gif" rel="prefetch"
        class="hidden">
    <script> (function (w, d, t, r, u) { var f, n, i; w[u] = w[u] || [], f = function () { var o = { ti: "187035477", enableAutoSpaTracking: true }; o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad") }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function () { var s = this.readyState; s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null) }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i) })(window, document, "script", "http://bat.bing.com/bat.js", "uetq"); </script>
    <!-- Facebook Business Extension for Magento 2 -->
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'http://connect.facebook.net/en_US/fbevents.js');
        fbq(
            'init',
            '2916720578609452',
            {},
            { agent: 'magento2-2.3.7-1.2.5' }
        );
        fbq('track', 'PageView', {
            source: "magento2",
            version: "2.3.7",
            pluginVersion: "1.2.5"
        });
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=2916720578609452&amp;ev=PageView&amp;noscript=1&amp;a=magento2-2.3.7-1.2.5" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11060133439"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-11060133439');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127112599-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('set', 'linker', {
            'domains': ['paypal.com']
        });
        gtag('js', new Date());
        gtag('config', 'UA-127112599-2', { "groups": "default" });
        gtag('config', 'AW-327152504');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body data-container="body"
    data-mage-init='{"loaderAjax": {}, "loader": { "icon": "./static/version1681280332/frontend/Swetelove/desktop/en_US/images/loader-2.gif"}}'
    class="cms-home cms-index-index page-layout-1column">
    <noscript>
        <div class="message global noscript">
            <div class="content">
                <p>
                    <strong>JavaScript seems to be disabled in your browser.</strong>
                    <span>For the best experience on our site, be sure to turn on Javascript in your browser.</span>
                </p>
            </div>
        </div>
    </noscript>
    <script>
        window.cookiesConfig = window.cookiesConfig || {};
        window.cookiesConfig.secure = true;
    </script>
    <script>
        require.config({
            map: {
                '*': {
                    wysiwygAdapter: 'mage/adminhtml/wysiwyg/tiny_mce/tinymce4Adapter'
                }
            }
        });
    </script>
    <div id="page-wrapper" class="page-wrapper">
        {!! template "pc/header.tmpl" . !!}
        <div class=" border-b border-gray-300">
            <div class="icon-content mx-auto w-full opacity-80" style="max-width:1220px;">
                <div class="flex justify-center py-1 divide-x divide-gray-300">
                    <div class="col w-1/4 flex flex-row  items-center justify-center text-xs uppercase">
                        <i class="icon-item icon-item-returns "></i>
                        <div class="leading-6 text-center ml-2">
                            <p>Return & Exchange</p>
                            <p>Within 30 days</p>
                        </div>
                    </div>
                    <div class="col w-1/4 flex flex-row  items-center justify-center text-xs uppercase">
                        <i class="icon-item icon-item-shipping "></i>
                        <div class="leading-6 text-center ml-2">
                            <p>Free Shipping</p>
                            <p>Sitewide</p>
                        </div>
                    </div>
                    <div class="col w-1/4 flex flex-row items-center justify-center text-xs uppercase">
                        <i class="icon-item icon-item-warranty "></i>
                        <div class="leading-6 text-center ml-2">
                            <p>One Year</p>
                            <p>Warranty</p>
                        </div>
                    </div>
                    <div class="col w-1/4 flex flex-row items-center justify-center text-xs uppercase">
                        <i class="icon-item icon-item-secure" style="font-size: 40px;color: #4d4948"></i>
                        <div class="leading-6 text-center ml-2">
                            <p>SECURE</p>
                            <p>SHOPPING</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <amp-carousel height="700" width="1920" layout="responsive" type="slides" loop autoplay delay="5000">
            <a href="{!!(index .BannerAd.Images 0).Link!!}">
                <amp-img src="{!!(index .BannerAd.Images 0).ImageURL!!}"
                    alt="Fall sales 2018" layout="responsive" width="1220" height="450"></amp-img>
            </a>
        </amp-carousel>
        <main id="maincontent" class="page-main"><a id="contentarea" tabindex="-1"></a>
            <div class="page messages">
                <div data-placeholder="messages"></div>
                <div data-bind="scope: 'messages'">
                    <!-- ko if: cookieMessages && cookieMessages.length > 0 -->
                    <div role="alert" data-bind="foreach: { data: cookieMessages, as: 'message' }" class="messages">
                        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
                            <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- ko if: messages().messages && messages().messages.length > 0 -->
                    <div role="alert" data-bind="foreach: { data: messages().messages, as: 'message' }"
                        class="messages">
                        <div data-bind="attr: {
            class: 'message-' + message.type + ' ' + message.type + ' message',
            'data-ui-id': 'message-' + message.type
        }">
                            <div data-bind="html: $parent.prepareMessageForHtml(message.text)"></div>
                        </div>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
            <div class="columns">
                <div class="column main"><input name="form_key" type="hidden" value="6uHvmqUSkUr4qjmE" />
                    <div id="authenticationPopup" data-bind="scope:'authenticationPopup'" style="display: none;">
                        <script>
                            window.authenticationPopup = { "autocomplete": "off", "customerRegisterUrl": "https:\/\/www.stunring.com\/customer\/account\/create\/", "customerForgotPasswordUrl": "https:\/\/www.stunring.com\/customer\/account\/forgotpassword\/", "baseUrl": "https:\/\/www.stunring.com\/" };
                        </script>
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>

                    <div class="block widget block-products-slider-list md:mt-10"
                        data-bind="scope: 'slider_grid_widget'">
                        <div class="block-title text-center my-5">
                            <a href="https://www.stunring.com/top-sellers.html" class="underline">
                                <span
                                    class="title font-sans text-base md:text-2xl uppercase tracking-widest my-5 md:my-10 font-extrabold ">
                                    TOP SELLERS </span>
                            </a>
                        </div>
                        <div class="carousel-list product-list-slider block-content">
                            <div class="carousel-list-control swiper w-full"
                                data-mage-init='{"Swipe":{"slidesPerView":"5","spaceBetween":5,"watchSlidesProgress" : true,"watchSlidesVisibility" : true}}'>
                                <div class="swiper-wrapper">
                                    {!!range .Sales!!}
                                    <div class="swiper-slide item relative">
                                        <a href="#" class="product-item-photo">
                                        {!!with .Images!!}
                                            {!!with index . 0!!}
                                                <img class="w-full" src="{!!.ImageURL!!}">
                                            {!!end!!}
                                        {!!end!!}
                                        </a>
                                        <div class="widget-additional-info mt-4">
                                            <div class='price-box'>
                                                <span class='discount-price'><span class="price">${!!.CurrentPrice!!}</span></span>
                                                <span class="old-price"><span class="price">${!!.OriginalPrice!!}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    {!!end!!}
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div id="quick-view-container"></div>
                    <div class="block widget block-products-slider-list md:mt-10"
                        data-bind="scope: 'slider_grid_widget'">
                        <div class="block-title text-center my-5">
                            <a href="https://www.stunring.com/what-s-new.html" class="underline">
                                <span
                                    class="title font-sans text-base md:text-2xl uppercase tracking-widest my-5 md:my-10 font-extrabold ">
                                    NEW IN </span>
                            </a>
                        </div>
                        <div class="carousel-list product-list-slider block-content">
                            <div class="carousel-list-control swiper w-full"
                                data-mage-init='{"Swipe":{"slidesPerView":"5","spaceBetween":5,"watchSlidesProgress" : true,"watchSlidesVisibility" : true}}'>
                                <div class="swiper-wrapper">
                                    {!!range .Newin!!}
                                    <div class="swiper-slide item relative">
                                        <a href="#" class="product-item-photo">
                                        {!!with .Images!!}
                                            {!!with index . 0!!}
                                                <img class="w-full" src="{!!.ImageURL!!}">
                                            {!!end!!}
                                        {!!end!!}
                                        </a>
                                        <div class="widget-additional-info mt-4">
                                            <div class='price-box'>
                                                <span class='discount-price'><span class="price">${!!.CurrentPrice!!}</span></span>
                                                <span class="old-price"><span class="price">${!!.OriginalPrice!!}</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    {!!end!!}
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div id="quick-view-container"></div>
                    <style>
                        .grid-2-height {
                            height: 363px;
                        }

                        .special-product1 {
                            text-align: center;
                            background-color: #f1f1f1;
                        }
                    </style>
                    <div class="home-cateogry">
                        <div
                            class="title text-center font-sans text-base md:text-2xl uppercase tracking-widest my-5 md:my-10 font-extrabold ">
                            SHOP BY CATEGORY</div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                            {!!range $i, $image := .IndexCategoriesAd.Images!!}
                            {!!if lt $i 4!!}
                            <div class="overflow-hidden">
                                <a href="{!!$image.Link!!}">
                                    <amp-img layout="responsive" width="605" height="300"
                                        class="transition duration-500 ease-in-out transform hover:scale-105 "
                                        src="{!!$image.ImageURL!!}"></amp-img>
                                </a>
                            </div>
                            {!!if eq $i 3!!}
                            <div class="md:col-span-2">
                                <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
                            {!!end!!}
                            {!!else!!}
                                <div class="overflow-hidden">
                                    <a href="{!!$image.Link!!}">
                                        <amp-img layout="responsive" width="298" height="300"
                                            class="transition duration-500 ease-in-out transform hover:scale-105 "
                                            src="{!!$image.ImageURL!!}"></amp-img>
                                    </a>
                                </div>
                            {!!end!!}
                            {!!end!!}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative;margin-bottom:100px;width:100%; height:650px;">
                        <div
                            class="title text-center font-sans text-base md:text-2xl uppercase tracking-widest my-5 md:my-10 font-extrabold ">
                            Jewelry Making Process</div>
                        <div style="position: absolute;bottom:-40px;width:100%;height:70%;z-index: -1;"></div>
                        <div class="give-back-block" style="margin:0 60px;width:1100px;height:620px;overflow:hidden;">
                            <div id="swiper-container-1" class="swiper-container-initialized"
                                data-mage-init='{"Swipe":{"slidesPerView": 3, "spaceBetween": 0, "speed": 1000, "autoplay":true, "loop": true, "centeredSlides": true}}'>
                                <div class="swiper-wrapper"
                                    style="margin-top:70px;transition-duration: 0ms; transform: translate3d(-453.333px, 0px, 0px);">
                                    <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/1.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev"
                                        data-swiper-slide-index="1">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/2.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active"
                                        data-swiper-slide-index="2">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/3.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="0">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/1.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="1">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/2.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="2">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/3.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="3">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/4.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="4">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/5.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="5">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/6.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="6">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/7.jpg" alt="" />
                                    </div>
                                    <div class="swiper-slide" data-swiper-slide-index="7">
                                        <img src="https://cdn.stunring.com/media/wysiwyg/home/8.jpg" alt="" />
                                    </div>
                                </div>
                                <div style="color: #aaaaaa;left: 0;" class="swiper-button-prev" tabindex="0"
                                    role="button" aria-label="Previous slide"></div>
                                <div style="color: #aaaaaa;right: 0;" class="swiper-button-next" tabindex="0"
                                    role="button" aria-label="Next slide"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-10">
                        <div
                            class="title text-center font-sans text-base md:text-2xl uppercase  my-5  tracking-widest md:my-10 font-extrabold">
                            Kown More About Our Stones</div>
                        <amp-youtube data-videoid="zCIb9ozL6yg" layout="responsive" width="358" height="204"
                            autoplay></amp-youtube>
                    </div>

                    <div class="testimonials p-3 md:p-12 mt-10" style="display:none; background: #deeaed">
                        <div class="testimonials-header text-center my-5 ">
                            <span
                                class="title font-sans text-xl md:text-2xl uppercase tracking-widest my-5 md:my-10 font-extrabold ">
                                Customer Testimonials</span>
                        </div>
                        <div class="testimonials-content">
                            <amp-carousel height="400" layout="fixed-height" type="carousel"
                                class="testimonials-carousel">
                                <div class="testimonials-list w-full md:w-1/3 md:px-5 align-top text-center">
                                    <div class="author mb-2">
                                        <div class="avatar">
                                            <amp-img class="rounded-full" layout="fixed"
                                                src="https://cdn.stunring.com/media/wysiwyg/6ef0ee3901f2c7402275b29735a77.jpg"
                                                alt="Graces" width="80" height="80">
                                            </amp-img>
                                        </div>
                                        <div class="meta text-base font-semibold">Gabrielle, New York</div>
                                    </div>
                                    <div class=" break-words text-sm w-full whitespace-normal md:px-0 px-2">
                                        <p>It is the most beautiful of all my many rings...it is my favorite now! I am
                                            so thrilled that
                                            it was available in size 5.5,because it fits perfectly. I had bought this
                                            same ring for my
                                            sister's birthday a couple of months ago,and I knew that she would love
                                            it,and that I needed
                                            one for my birthday,too! As always,the quality is very high,the details and
                                            workmanship
                                            exquisite. Thank you,STUNRING for making stunning jewelry available to
                                            non-billionaires!</p>
                                    </div>
                                </div>
                                <div class="testimonials-list  w-full md:w-1/3  md:px-5 align-top text-center">
                                    <div class="author mb-2">
                                        <div class="avatar">
                                            <amp-img class="rounded-full"
                                                src="https://cdn.stunring.com/media/wysiwyg/_-1.jpg" alt="Vanca Sara"
                                                layout="fixed" width="80" height="80"></amp-img>
                                        </div>
                                        <div class="meta text-base font-semibold">Leonel, Indiana</div>
                                    </div>
                                    <div class="break-words text-sm w-full whitespace-normal md:px-0 px-2">
                                        <p>I want to start of by thanking STUNRING for providing a beautiful ring to
                                            present to my
                                            girlfriend. Giving this ring to my girlfriend meant a lot to me because it’s
                                            symbolizes the
                                            promise to my girlfriend that I want to be with her for the rest of my life.
                                            She is not only
                                            the perfect one for me but she is also just the best girlfriend any man
                                            could ever ask for
                                            and honestly to put this ring on her finger not only made me happy but also
                                            put an beautiful
                                            smile on my girls face, never seen her smile so hard before I gave her the
                                            ring and to see
                                            her smile like that brought tears to my eyes and I love her to death.</p>
                                    </div>
                                </div>
                                <div class="testimonials-list w-full md:w-1/3 md:px-5 align-top text-center">
                                    <div class="author mb-2">
                                        <div class="avatar">
                                            <amp-img class="rounded-full"
                                                src="https://cdn.stunring.com/media/wysiwyg/6ef0c7402275b29735a77.jpg"
                                                alt="Kelsey" layout="fixed" width="80" height="80">
                                            </amp-img>
                                        </div>
                                        <div class="meta text-base font-semibold">Kelsey, Tennessee</div>
                                    </div>
                                    <div class="break-words text-sm w-full whitespace-normal md:px-0 px-2">
                                        <p>This ring is perfect. My husband thought that it looked fake. I took it to my
                                            sisters house
                                            for her opinion. I left it in the box with the tags still on, just in case.
                                            We compared it
                                            to her real 1 carat princess cut diamond and we couldn't see a difference. I
                                            took the tag
                                            off and started wearing the ring.</p>
                                        <p>The ring passed the test.. The sparkle and clarity of this stone is
                                            beautiful. The setting is
                                            beautiful. It fits true to size.</p>
                                    </div>
                                </div>
                            </amp-carousel>
                        </div>
                    </div>
                    <div class="review-gallery-container"><div class="widget widget-product-block review-gallery">
    <h2 class="title title-style font-semibold md:text-3xl text-lg text-center md:my-10 my-7"><span>MYSTUNRING</span></h2>

    <p class="text-center text-base md:text-lg">Tag a photo on <i class="fa fa-instagram text-2xl"></i> <i class="fa fa-facebook-f text-2xl ml-2"></i> with
        #MYSTUNRING or <a on="tap:review-gallery-form" class="lightbox-open">upload here</a> for a
        chance to win $500 and get featured in <a href="#">MYSTUNRING Gallery</a>.</p>

    <amp-state id="galleryState" src="//192.168.183.209:8080/review/gallery/"></amp-state>
    <amp-state id="gallery">
        <script type="application/json">
            {
                "nextPage": 2,
                "hasMorePages": true
            }
        </script>
    </amp-state>

    <div class="gallery-list scale mt-6 border-t border-gray-200 pt-3">
        <amp-list id="alleryList" src="//192.168.183.209:8080/review/gallery/" [src]="galleryState.items" width="auto" height="484"
                  layout="fixed-height" >
            <template type="amp-mustache" >
                <div class="gallery-image inline-grid">
                    <amp-img lightbox="review-gallery" alt="{{title}}" src="{{src}}" width="237" height="237"
                             layout="responsive">
                    </amp-img>
                    <div class="product-link bg-black bg-opacity-60 absolute left-0 right-0"><a class="text-white border-2 border-white text-sm px-1" href=""><span>Shop This Look<span></a>
                    </div>
                </div>
            </template>
        </amp-list>
    </div>
    <form method="GET" action-xhr="//192.168.183.209:8080/review/gallery/"
          target="_top"
          on="submit:media_loading.show;submit-success: AMP.setState({
            galleryState: {
              items: galleryState.items.concat(event.response.items)
            },
            gallery: {
              nextPage: gallery.nextPage + 1,
              hasMorePages: event.response.hasMorePages
            }
          }),media_loading.hide;submit-error:media_loading.hide">
        <input type="hidden" name="nextPage" value="2" [value]="gallery.nextPage"/>
        <input type="submit" value="Load More..." class="button "
               [class]="(gallery.hasMorePages ? 'button' : 'hidden')"  on="tap:alleryList.changeToLayoutContainer()"/>

    </form>
    <div id="media_loading" hidden>
    </div>
</div>
<script>
    require([
        'jquery'
    ],function ($,recentlyViewed) {
        $(function () {
            var updateSwap = function (){
                var winWidth = $(window).width()
                RowSize = winWidth < 768 ? 2 : (winWidth >= 768 && winWidth <= 1024 ? 4: 5),
                defaultRows = RowSize == 2 ? 5 : (RowSize == 4 ? 3 : 2); //按每次加载10个计算
                if(winWidth < 768){
                    $("#alleryList").height((winWidth/RowSize - 12) * defaultRows);
                } else if(winWidth > 1024) {
                    $("#alleryList").height((winWidth/RowSize - 28) * defaultRows);
                } else {
                    $("#alleryList").height((winWidth/RowSize - 8) * defaultRows);
                }
            }
            updateSwap();
            $(window).resize = updateSwap();
        })
    })

</script>

                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-icons border border-gray-200 border-l-0 border-r-0">
                <div class="footer-icons-content mx-auto">
                    <div class="flex justify-center py-5">
                        <div class="col w-1/5 flex flex-col  items-center text-xs md:text-sm uppercase">
                            <i class="icon-item icon-item-returns mb-2"></i>
                            <span>30-Day</span>
                            <span>Returns</span>
                        </div>
                        <div class="col w-1/5 flex flex-col  items-center text-xs md:text-sm uppercase">
                            <i class="icon-item icon-item-shipping mb-2"></i>
                            <span>Free Shipping</span>
                            <span>Sitewide</span>
                        </div>
                        <div class="col w-1/5 flex flex-col  items-center text-xs md:text-sm uppercase">
                            <i class="icon-item icon-item-warranty mb-2"></i>
                            <span>One Year</span>
                            <span>Warranty</span>
                        </div>
                        <div class="col w-1/5 flex flex-col  items-center text-xs md:text-sm uppercase">
                            <i class="icon-item icon-item-925 mb-2"></i>
                            <span>925</span>
                            <span>Sterling Silver</span>
                        </div>
                        <div class="col w-1/5 flex flex-col  items-center text-xs md:text-sm uppercase">
                            <i class="icon-item icon-item-secure mb-2"></i>
                            <span>Secure</span>
                            <span>Shopping</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer content">
                <div class="links-wrap flex justify-between">
                    <div class="grid gap-2 grid-cols-3 w-8/12">
                        <div class="col-1">
                            <h3 class="title uppercase mb-3">About STUNRING</h3>
                            <ul class="text-sm leading-7">
                                <li><a href="https://www.stunring.com/inside-stunring/about-us.html">About Us</a></li>
                                <li><a href="https://www.stunring.com/stone-we-use.html">Our Stones</a></li>
                                <li><a href="https://www.stunring.com/inside-stunring/why-choose-stunring.html">Why
                                        Choose STUNRING</a></li>
                                <li><a href="https://www.stunring.com/inside-stunring/blogger.html">STUNRING blogger</a>
                                </li>
                                <li><a href="https://www.stunring.com/sendfriend/" rel="nofollow">Refer a Friend</a>
                                </li>
                                <li><a href="https://www.stunring.com/policies/privacy-policy.html">Privacy Policy</a>
                                </li>
                                <li><a href="https://www.stunring.com/policies/terms-and-conditions.html">Terms and
                                        Conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h3 class="title uppercase mb-3">Customer Care</h3>
                            <ul class="text-sm leading-7">
                                <li><a href="https://www.stunring.com/services/delivery-shipping.html">Delivery &amp;
                                        Shipping</a></li>
                                <li><a href="https://www.stunring.com/policies/return.html">30-Day Return Policy</a>
                                </li>
                                <li><a href="https://www.stunring.com/services/one-year-warranty.html">One-Year
                                        Warranty</a></li>
                                <li><a href="https://www.stunring.com/services/ring-size.html">Find Your Ring Size</a>
                                </li>
                                <li><a href="https://www.stunring.com/services/how-to-care-rings.html">How To Care
                                        Rings</a></li>
                                <li><a href="https://www.stunring.com/services/how-to-buy.html">How To Buy</a></li>
                                <li><a href="https://www.stunring.com/faq.html">FAQs</a></li>

                            </ul>
                        </div>
                        <div class="col-3">
                            <h3 class="title uppercase mb-3"><a href="https://www.stunring.com/contact-us.html">Contact
                                    Us</a></h3>
                            <ul class="text-sm leading-7">
                                <li><a href="mailto:service@stunring.com"><i class="icon fa fa-envelope"></i>
                                        <strong>Email Us:
                                            service@stunring.com</strong></a></li>
                                <li><a href="https://www.stunring.com/contacts"><i class="fa fa-ticket"></i>
                                        <strong>Submit Ticket</strong></a></li>
                                <li><a href="tel:16266009818"><i class="fa fa-phone-square"></i> <strong>Call Us:
                                            1-626-600-9818</strong></a></li>
                                <li><strong><a href="#"><i class="fa fa-comment"></i>
                                            Message Us</a> (6:00PM-3:00AM, Monday-Sunday(PST/PDT))</strong></li>
                            </ul>
                        </div>
                    </div>
                    <div class="w-4/12 px-2">
                        <div class="col-4">
                            <div class="newsletter-content block">
                                <h3 class="title uppercase mb-3">Sign Up For Email</h3>
                                <div class="block newsletter">
                                    <div class="title"><strong>Newsletter</strong></div>
                                    <div class="subtitle text-xs mb-3">Join our movement with newsletters, updates, and
                                        offers.</div>
                                    <div class="content">
                                        <form class="form subscribe" novalidate
                                            action="https://www.stunring.com/newsletter/subscriber/new/" method="post"
                                            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                                            id="newsletter-validate-detail">
                                            <div class="field newsletter">
                                                <div class="control">
                                                    <label for="newsletter">
                                                        <span class="label">
                                                            Sign Up for Our Newsletter: </span>
                                                        <input name="email" type="email" id="newsletter"
                                                            placeholder="Enter&#x20;your&#x20;email&#x20;address"
                                                            class="leading-10 border border-gray-200 border-r-0 outline-none box-border"
                                                            data-mage-init='{"mage/trim-input":{}}'
                                                            data-validate="{required:true, 'validate-email':true}" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="actions">
                                                <button class="action subscribe primary" title="Subscribe" type="submit"
                                                    aria-label="Subscribe">
                                                    <span>Subscribe</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="identity flex justify-start items-center my-5">
                                <div class="identity-item identity-item-mcafee border border-gray-200 mr-1">
                                    <a href="https://www.mcafeesecure.com/verify?host=http://www.stunring.com/"
                                        target="_blank">
                                        <amp-img
                                            src="./static/version1681280332/frontend/Swetelove/desktop/en_US/images/Mcafee.svg"
                                            width="119" height="60" layout="intrinsic" max-height="50"
                                            alt="Mcafee Secure"></amp-img>
                                    </a>
                                </div>
                                <div class="identity-item identity-item-norton border border-gray-200 mr-1">
                                    <amp-img
                                        src="./static/version1681280332/frontend/Swetelove/desktop/en_US/images/norton.png"
                                        width="110" height="60" layout="intrinsic" max-height="50"
                                        alt="Norton Secure"></amp-img>
                                </div>
                                <div class="identity-item identity-item-google-trusted-store border border-gray-200">
                                    <amp-img
                                        src="./static/version1681280332/frontend/Swetelove/desktop/en_US/images/google-trusted-store.png"
                                        width="140" height="60" layout="intrinsic" max-height="50" alt="Norton Secure">
                                    </amp-img>
                                </div>
                            </div>
                            <h3 class="uppercase text-base">Follow Us</h3>
                            <ul class="social flex">
                                <li class="p-2 text-xl"><a href="https://www.facebook.com/Stunring/" target="_blank"><em
                                            class="fa fa-facebook-f">&nbsp;</em></a></li>
                                <li class="p-2 text-xl"><a href="https://www.instagram.com/stunringjewelry/"
                                        target="_blank"><em class="fa fa-instagram">&nbsp;</em></a></li>
                                <li class="p-2 text-xl"><a href="https://www.pinterest.com/stunringjewelry/"
                                        target="_blank"><em class="fa fa-pinterest-p">&nbsp;</em></a></li>
                                <li class="p-2 text-xl"><a href="https://twitter.com/stunringjewelry"
                                        target="_blank"><em class="fa fa-twitter">&nbsp;</em></a></li>
                                <li class="p-2 text-xl"><a
                                        href="https://www.youtube.com/channel/UCjorxYM15SsmumQhb4dY3mQ/videos"
                                        target="_blank"><em class="fa fa-youtube">&nbsp;</em></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright border-t border-gray-200 py-5">
                <div
                    class="copyright-content mx-auto flex md:justify-between justify-center items-center md:text-base text-xs">
                    <div class="copyright md:text-left text-center"><span>Copyright © 2023 Stunring Store. All Rights
                            Reserved.</span></div>
                    <div class="we-support"></div>
                </div>
            </div>
        </footer> 
        <button id="scrollToTopButton" on="tap:page-wrapper.scrollTo(duration=200)"
            class="scrollToTop w-14 h-14 rounded-full fixed bottom-32 right-5 bg-gray-700 text-gray-200 text-3xl z-10 border-0"><i
                class="fa fa-angle-up" aria-hidden="true"></i></button>
    </div>
</body>
</html>
{!! end !!}